modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "vm"
run = ["pnpm", "--filter", "@workspace/discord-bot", "run", "start"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sh start.sh"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
HR_ROLE_ID = "1495222820400009246"
HR_TEAM_ROLE_ID = "1501681511324451028"
MODERATOR_ROLE_ID = "1495222811755806740"
MOD_TEAM_ROLE_ID = "1501681813398093955"
PARTNERSHIP_ROLE_ID = "1495222796517773335"
PARTNERSHIP_TEAM_ROLE_ID = "1501681321343193160"
STAFF_ROLE_ID = "1501682950331301908"
DB_HOST = "nc1.lemonhost.me"
DB_PORT = "3306"
DB_NAME = "mysql"
DB_USER = "u5453_Zr5KHv4TPG"
SERVER_ICON_URL = "https://cdn.discordapp.com/icons/1487744336908124190/4235733b69bbdcb75e2479404e2eaaa1.webp?size=3072"
